<script>
  import snarkdown from 'snarkdown'
  export let data
</script>

<article>
  {@html 
    data.text
    .split(/(?:\r?\\n){2,}/)
      .map((l) =>
        [" ", "\t", "#", "-", "*", ">"].some((char) => l.startsWith(char))
          ? snarkdown(l)
          : `<p>${snarkdown(l)}</p>`
      )
      .join("\n")
  }
</article>