<main>
  <slot></slot>
  <footer>
    <div class="footer-grid wrapper">
      <div class="grid-area">
        <span class="copyright">© Me xoxo</span>
      </div>
      <div class="grid-area links">
        <a href="/">Home</a>
        <a href="/talking-about-himself-again">About</a>
        <a href="/writing">Writing</a>
        <a href="/writing/tiny-things">Tiny Words</a>
      </div>
      <div class="grid-area about">
        <a href="/writing/about/scottdotis-v4">About this site</a>
      </div>
    </div>
  </footer>
</main>

<style>
  footer {
    padding: 1rem 0;
    font-weight: 500;
    color: rgba(255,255,255,.7);
    border-top: 1px solid rgba(255,255,255,.08);
    background: rgba(0,0,0,.18);
    font-size: .9rem;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    margin-top: 0;
  }
  @media(min-width: 980px) {
    .footer-grid {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 24px;
    }
    .grid-area {
      margin-top: 0;
    }
    .links {
      text-align: center;
    }
  }
  a {
    color: var(--color-pink);
    font-weight: 543;
    text-decoration: none;
  }
  .links a:after {
    content: '/';
    color: rgba(255,255,255,.5);
    margin-left: .7rem;
    margin-right: .5rem;
  }
  .links a:last-child:after {
    display: none;
  }
</style>
