<script lang="ts">
  import { onMount } from 'svelte'
  import gsap from 'gsap'
  import SplitTextJS from 'split-text-js';
  import SideBanner from "../components/SideBanner.svelte"
  import ForceForGood from "../components/ForceForGood.svelte"
  import CTA from "../components/CTA.svelte"
  import Nav from "../components/Nav.svelte"
	import TinyThings from '../components/TinyThings.svelte';

  export let data

  onMount( async () => {
    const tl = gsap.timeline()

    const text = document.querySelector('.splitText')
    const splittedText = new SplitTextJS(text)

    const textChars = splittedText.chars

    tl.to('.hero h1', {
      opacity: 1,
      duration: 0,
    })

    tl.to(textChars, {
      y: 0,
      stagger: .05,
      duration: .45,
      ease: 'power4.out',
    })

    tl.to('.anim-para', {
      opacity: 1,
      x: 0,
      duration: .5,
    }, "<40%") 

    tl.to('.cta', {
      x: 0,
      opacity: 1,
      duration: .6,
      stagger: .2,
    }, "<50%")

    tl.to('.main-nav, .banner', {
      y: 0,
      opacity: 1,
      duration: .6,
      stagger: .3,
    }, "<90%")

    tl.to('.anim-img', {
      scale: 1,
      duration: 2.3,
      stagger: .15,
      ease: 'elastic.out'
    }, "<39%")

  })
</script>

<svelte:head>
  <title>Scott Riley</title>
</svelte:head>

<div class="hero">
  <h1 class="splitText">
    Well, hello…
  </h1>
  <p class="anim-para">My name is Scott and I make things for money and for fun. I’m a creative technologist with a focus on ethical tech and design systems. I use design and code to solve complex problems for people and businesses.</p>
  <div class="ctas">
    <CTA url="https://mindfuldesign.xyz" title="Buy my book" text="Please. My dog needs toys. They're expensive." /> 
    <CTA url="/about" title="Get in touch" text="I like talking to nice people. Let’s chat." /> 
  </div>
  <img class="joystick anim-img" src="/joystick.png" />
  <img class="skull anim-img" src="/skull.png" />
  <img class="scott anim-img" src="/scott.png" />
  <img class="bulb anim-img" src="/bulb.png" />
  <SideBanner down>
    <span>Product design</span> <span class="amp">&amp;</span>
    <span>Pokémon</span> <span class="amp">&amp;</span>
    <span>Writing</span> <span class="amp">&amp;</span>
    <span>Coffee</span> <span class="amp">&amp;</span>
    <span>Dogs</span>
  </SideBanner>
</div>

<Nav preAnim />

<ForceForGood />

<div class="separator"></div>

<TinyThings />

<div class="pink-section writing">
  <div class="wrapper">
    <h1>Not so Tiny Words: a <s>macro</s>blog</h1>
    <ul class="post-grid">
      {#each data.posts as post}
        <li class="post">
          <h2>
            <a href={post.path}>
              {post.meta.title}
            </a>
          </h2>
          <a class="post-link" href={post.path}>Read the post <img src="/arrow-right-dark.svg" /></a>
        </li>
      {/each}
    </ul>
  </div>
</div>

<style>
  .hero {
    height: calc(100vh - 90px);
    width: 100vw;
    display: grid;
    place-content: center;
    position: relative;
    padding: 10vw;
  }
  :global(.hero .banner) {
    position: absolute;
    left: 12px;
    top: 24px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    transform-origin: center center;
    opacity: 0;
    transform: translateY(100px) rotate(-180deg);
  }
  :global(.char), 
  :global(.SplitTextJS-char) {
    transform: translateY(115px);
    margin-top: 0;
  }
  :global(.SplitTextJS-wrapper) {
    margin-top: 0;
  }
  .hero h1 {
    font-weight: 427;
    font-size: 3.2rem;
    line-height: 1;
    color: var(--color-pink);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
  }
  .hero p {
    font-weight: 330;
    max-width: 580px;
    font-size: 1.125rem;
    line-height: 1.5;
    opacity: 0;
    transform: translateX(60px);
    margin-top: 2rem;
  }
  :global(.hero .cta) {
    opacity: 0;
    transform: translateX(40px);
  }
  .ctas {
    margin-top: 4rem;
    max-width: 750px;
  }
  .anim-img {
    transform: scale(0);
    display: none;
  }
  .bulb,
  .joystick,
  .scott,
  .skull {
    width: 96px;
    position: absolute;
    bottom: 48px;
    right: 4vw;
  }
  .scott {
    width: 156px;
    display: block;
    top: 8px;
    right: 16px;
  }
  .bulb {
    top: 24px;
    left: 8vw;
  }
  .skull {
    left: 8vw;
    right: auto;
  }
  .joystick {
    top: 48px;
  }
  .writing {
    padding: 4rem 0;
    margin-top: 4rem;
  }
  .writing h1 {
    text-align: right;
    text-transform: uppercase;
  }
  .post-grid {
    padding-top: 4rem;
    grid-column-gap: 7vw;
  }
  @media(min-width: 910px) {
    .hero h1 {
      font-size: 6.7rem;
      line-height: 1;
    }
  }
  @media(min-width: 1100px) {
    .hero h1 {
      margin-top: -60px;
    }
    .anim-img {
      display: block;
    }
    .scott {
      top: auto;
      bottom: 48px;
      right: 4vw;
    } 
  }
</style>

