<script>
  import { onMount } from 'svelte'
  import gsap from 'gsap'
  import SideBanner from "../../components/SideBanner.svelte"
  import Nav from "../../components/Nav.svelte"
	import CTA from "../../components/CTA.svelte"
	import ForceForGood from '../../components/ForceForGood.svelte';
  
  onMount( async () => {
    const tl = gsap.timeline()
    tl.to('.cta', {
      x: 0,
      opacity: 1,
      duration: .6,
      stagger: .2,
    })
  })
</script>

<svelte:head>
  <title>Who’s this dickhead? – Scott Riley</title>
</svelte:head>

<Nav />
<section class="inner-section">
  <div class="banner">
    <SideBanner>
      <span>Designer</span> <span class="amp">&amp;</span>
      <span>Speaker</span> <span class="amp">&amp;</span>
      <span>Gamer</span> <span class="amp">&amp;</span>
      <span>Dickhead</span> <span class="amp">&amp;</span>
      <span>Dog-haver</span>
    </SideBanner>
  </div>
  <div class="wrapper">
    <div class="header-grid">
      <div class="header-content">
        <h1>Who’s this dickhead?</h1>
        <p>I've been making internet stuff for a Very Long Time. I started with Geocities and Neopets, made a few moderately popular Flash games, then graduated to  MySpace layouts.</p>
        <p>Somewhere along that journey, I got good enough at making shit on the web to do it for a career. I've been doing Grown Up Neopets ever since.</p>
        <div class="online">
          <h2>Find me online…</h2>
          <div class="ctas">
            <CTA url="https://indieweb.social/@scottdotis" title="🦣 Mastodon" text="Over in the ‘fediverse’ even though I don't know what that means." />
            <CTA url="https://open.spotify.com/artist/6X4wlqkMxGYfceTwxDfoeo?si=JKZB-AtYTl2Ke_suqMOLvQ" title="👨🏻‍🎤 Spotify" text="Get me 0.00004 of a shilling by listening to my overly-dramatic synth music." />
            <CTA url="https://twitter.com/scott_riley" title="☠️ Twitter" text="Elron's turning it into an absolute disaster, but I'm still there." />
          </div>
        </div>
      </div>
      <div class="header-img">
        <img src="/scott.png" class="scott" />
        <img src="/lorna.png" class="lorna" />
      </div>
  </div>

  <h2 class="values-header">Never punch down; give a fuck about craft; be accountable.</h2>

  <div class="separator"></div>

  <div class="about-story">
    <p class="born">
      Born in Liverpool and raised in the aftermath of Thatcherite austerity, I’m a massive socialist and can talk your ear off about unions, the politics of football, and the power of mobilised communities.
    </p>
    <p class="games">
      I’m a huge fucking dweeb and still have a favourite Pokémon at the age of 33. I adore video games. Lately I’m trying to fill the Elden Ring-shaped hole in my heart with any and all difficult games I can find.
    </p>
    <p class="sports">
      I’m also a competitive strongman and ex-powerlifter, which basically means I throw logs and stones around as exercise and lift stupid heavy shit for sport. It’s fun.
    </p>
  </div>

  <h2 class="values-header">Impact trumps intent; own your shit; eat the rich.</h2>
  <div class="accountable">
    <img src="/guillotine.png" alt="Eat the rich">
  </div>
  
</section>


<style>
  .values-header {
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
    margin-top: 4rem;
    background: url('/text-mask.png');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 12px rgba(0,0,0,.1);
  }
  .about-story p {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.05rem;
    margin: auto;
    margin-bottom: 2rem;
    font-weight: 327;
    position: relative;
    padding-left: 64px;
  }
  .about-story p:before {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    background-image: url('/bulb.png');
    background-size: cover;
    top: -18px;
    left: 0;
  }
  .about-story .games:before {
    background-image: url('/joystick.png');
  }
  .about-story .sports:before {
    background-image: url('/bicep.png');
    width: 34px;
    height: 34px;
    top: -12px;
    transform: rotate(-22deg);
  }
  .header-grid {
    display: grid;
    grid-template-areas:
      "i i"
      "c c"
    ;
    max-width: 1080px;
    grid-gap: 48px;
  }
  @media(min-width: 1100px) {
    .header-grid {
      grid-template-areas:
        "c c c c c i i"
      ;
    }
  }
  .header-content {
    grid-area: c;
  }
  .header-img {
    grid-area: i;
  }
  .header-img img {
    width: 220px;
  }
  .online h2 {
    font-weight: 337;
    font-size: 2.4rem;
    margin-top: 4rem;
  }
  .ctas {
    max-width: 740px;
  }
  p {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.05rem;
    font-weight: 327;
    max-width: 660px;
    color: rgba(255,255,255,.9);
    line-height: 1.6;
  }
  .lorna {
    animation: floatScott 4s ease-in-out infinite;
    margin-right: -4vw;
  }
  @media(min-width: 1100px) {
    .lorna {
      animation-name: floatLorna;
    }
  }
  .scott {
    animation: floatScott 4s ease infinite;
    animation-delay: 1s;
  }
  @keyframes floatScott {
    0% {
      transform: translatey(0px) ;
    }
    50% {
      transform: translatey(-20px) ;
    }
    100% {
      transform: translatey(0px) ;
    }
  }
  @keyframes floatLorna {
    0% {
      transform: translatey(0px) translateX(140px);
    }
    50% {
      transform: translatey(-20px) translateX(140px);
    }
    100% {
      transform: translatey(0px) translateX(140px);
    }
  }
  .accountable {
    max-width: 350px;
    margin: auto;
    margin-top: 3rem;
  }
  .accountable img {
    width: 100%;
  }
</style>