<script>
  import Nav from "../../components/Nav.svelte";
  import TinyThings from "../../components/TinyThings.svelte";
  export let data
</script>

<svelte:head>
  <title>Scott is… writing</title>
</svelte:head>

<Nav /> 

<section class="wrapper">
  {#if data.featuredPost}
    <div class="featured-post">
      <div class="featured-img">
        <img src={data.featuredPost.meta.imgSrc} alt={data.featuredPost.meta.title} />
      </div>
      <div class="post-info">
        <div class="meta">Featured Post</div>
        <div>
          <h2>
            <a href={data.featuredPost.path}>
              {data.featuredPost.meta.title}
            </a>
          </h2>
          <span class="date">{new Date(data.featuredPost.meta.date).toDateString() }</span>
        </div>
        <a href="{data.featuredPost.path}" class="post-link">Read the post <img src="/arrow-right.svg" /></a>
      </div>
    </div>
  {/if}

  <ul class="post-grid">
    {#each data.posts as post}
      <li class="post">
        <h2>
          <a href={post.path}>
            {post.meta.title}
          </a>
        </h2>
        <a class="post-link" href={post.path}>Read the post <img src="/arrow-right.svg" /></a>
      </li>
    {/each}
  </ul>

</section>

<div class="separator"></div>

<TinyThings />

<style>
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: var(--color-pink);
  }
  h2 {
    color: rgba(255,255,255,.9);
  }
  .wrapper {
    padding-top: 4rem;
  }
  .featured-img {
    position: relative;
    grid-area: i;
  }
  .featured-post img {
    width: 100%;
    border-radius: 8px;
  }
  .featured-img:after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    background-image: url('/heart-face.png');
    background-size: cover;
    top: -18px;
    left: -18px;
    transform: rotate(-11deg);
  }
  .date {
    display: block;
    margin-top: 1.2rem;
  }
  .featured-post {
    display: grid;
    grid-template-areas:
      "i i"
      "c c"
    ;
    grid-column-gap: 48px;
    padding-bottom: 4rem;
  }
  @media(min-width: 1000px) {
    .featured-post {
      grid-template-areas:
        "i i c"
      ;
    }
  }
  .post-info {
    display: grid;
    grid-template-rows: auto 1fr 28px;
    margin-top: 0;
    padding: 1rem 0;
    grid-area: c;
  }
  .post-link {
    display: grid;
    grid-template-columns: auto 28px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.3rem;
    font-style: italic;
  }
  .featured-post a img {
    width: 100%;
  }
  .meta {
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .08em;
    font-weight: 766;
    color: var(--color-pink);
  }
  .post img {
    width: 100%;
  }
  .post-grid a {
    color: inherit;
    text-decoration: none;
  }
  .post-grid h2,
  .featured-post h2 {
    font-weight: 337;
    font-size: 1.5rem;
  }
  .featured-post h2 {
    font-size: 2rem;
  }
</style>