<script>
  import Nav from "../../../components/Nav.svelte";
  import SideBanner from "../../../components/SideBanner.svelte";
  export let data
  import gsap from 'gsap'
  import { onMount } from 'svelte'
  import snarkdown from 'snarkdown'

  onMount( async () => {

    const tl = gsap.timeline()

    tl.from('h1', {
      x: 40,
      opacity: 0,
    })

    tl.from('.about-microblog', {
      opacity: 0,
    }, "<70%")

    tl.from('.about-microblog', {
      scale: .9,
      ease: 'elastic.out',
      duration: 2.3,
    }, "<30%")

    tl.from('.full-post', {
      x: 90,
      opacity: 0,
      duration: .6,
      stagger: .2,
    }, "<23%")

    tl.from('.banner', {
      y: 100,
      opacity: 0,
      duration: .6,
      stagger: .3,
    }, "<30%")

  })
</script>

<svelte:head>
  <title>Tiny Words – Scott Riley</title>
</svelte:head>

<Nav noStick />

<div class="inner-section">
  <h1>Tiny Words: a microblog</h1>
  <div class="about-microblog">
    <div class="img">
      <img src="/scott.png" alt="Scott Riley" />
    </div>
    <div class="pink-section speech">
      <p>
        This is my personal microblog. A place where I can share short-form bullshit while still owning my own data.
      </p>
    </div>
  </div>
</div>

<section class="wrapper">
  
  <ul class="posts">
    {#each data.posts as post}
      <li class="full-post">
        {#if post.title}
          <h2>
            {post.title}
          </h2>
        {/if}
        <div class="post-text">
          {@html 
            post.text
            .split(/(?:\r?\\n){2,}/)
              .map((l) =>
                [" ", "\t", "#", "-", "*", ">"].some((char) => l.startsWith(char))
                  ? snarkdown(l)
                  : `<p>${snarkdown(l)}</p>`
              )
              .join("\n")
          }
        </div>
      </li>
    {/each}
  </ul>

  <div class="banner">
    <SideBanner>
      <span>Reviews</span> <span class="amp">&amp;</span>
      <span>Thoughts</span> <span class="amp">&amp;</span>
      <span>Rants</span> <span class="amp">&amp;</span>
      <span>Ephemeral Bullshit</span> <span class="amp">&amp;</span>
      <span>Pictures of my dog</span>
    </SideBanner>
  </div>

</section>

<style>
  .inner-section {
    padding-left: 6vw;
    padding-right: 6vw;
    position: relative;
  }
  @media(min-width: 960px) {
    .inner-section {
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
  }
  .banner {
    position: absolute;
    left: 24px;
    writing-mode: vertical-lr;
    height: 100vh;
    top: 24px;
  }
  .wrapper {
    display: grid;
    grid-column-gap: 3rem;
    align-items: flex-start;
    position: relative;
  }
  .posts {
    max-width: 680px;
    margin: auto;
    padding: 0;
    list-style: none;
    padding-top: 4rem;
  }
  .full-post {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-pink);
  }
  .full-post + .full-post {
    margin-top: 2rem;
  }
  .full-post .post-text {
    font-size: .9rem;
    line-height: 1.8;
    color: rgba(255,255,255,.9);
    font-weight: 377;
  }
  .about-microblog {
    display: grid;
    grid-template-columns: 128px 1fr;
    align-items: center;
    padding-top: 2rem;
  }
  .about-microblog h2 {
    font-size: 1rem;
    font-weight: 629;
    text-transform: uppercase;
    letter-spacing: .01em;
    font-size: .8rem;
  }
  .about-microblog p {
    font-size: .9rem;
    font-weight: 444;
  }
  .about-microblog img {
    max-width: 128px;
    z-index: 9;
  }
  .img {
    position: relative;
    z-index: 9;
  }
  .pink-section {
    padding: 1rem 1.4rem 1rem 2rem;
    border-radius: 6px;
    box-shadow: 3px 3px 0 var(--color-pink);
    transform: translate(-28px, -14px);
    z-index: 8; 
  }
  :global(.post-text img) {
    width: 100%;
    margin-top: 1.4rem;
    border-radius: 6px;
  }
</style>