<script lang="ts">
  export let url
  export let title
  export let text
</script>

<a href="{url}" class="cta">
  <div class="cta-content">
    <h2>{title}</h2>
    <p>{text}</p>
  </div>
  <div class="cta-arrow">
    <img src="/arrow-right.svg" />
  </div>
</a>

<style>
  .cta {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 48px;
    color: inherit;
    border-bottom: 1px solid;
    transform: translateX(40px);
    align-items: center;
    padding-bottom: 1rem;
  }
  .cta:hover {
    color: white;
  }
  .cta-arrow {
    transition: all .4s ease;
    margin-top: 0;
  }
  .cta:hover .cta-arrow {
    transform: translateX(8px);
  }
  .cta h2 {
    font-size: 1.1rem;
  }
  .cta p {
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    margin-top: .4rem;
    font-size: 1.125rem;
  }
  .cta p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    display: none;
  }
  @media(min-width: 480px) {
    .cta {
      padding-bottom: 0;
    }
    .cta p {
      display: block;
    }
  }
</style>