<script>
  export let text
  export let cta = null
  export let url = null
  export let external = false
</script>

<div class="face-hint">
  <div class="img">
    <img src="/scott.png" alt="Scott Riley" />
  </div>
  <div class="pink-section">
    <p>{text}</p>
    {#if cta && url}
      <div class="micro-cta">
        {#if external}
          <a href="{url}" target="_blank" rel="noreferrer">{cta}</a>
        {:else}
          <a href="{url}">{cta}</a>
        {/if}
      </div><!-- content here -->
    {/if}
  </div>
</div>

<style>
  .face-hint {
    display: grid;
    grid-template-columns: 128px 1fr;
    align-items: center;
    position: relative;
    color: var(--color-dark);
  }
  .face-hint p {
    font-size: .9rem;
    font-weight: 444;
    color: var(--color-dark);
  }
  .face-hint img {
    max-width: 128px;
    z-index: 9;
  }
  .img {
    position: relative;
    z-index: 9;
  }
  .pink-section {
    padding: 1rem 1.4rem 1.2rem 2rem;
    border-radius: 6px;
    box-shadow: 3px 3px 0 var(--color-pink);
    transform: translate(-28px, -14px);
    z-index: 8;
    position: relative;
  }
  .micro-cta {
    position: absolute;
    right: 24px;
    bottom: -2.5rem;
    box-shadow: 0 12px 4px rgba(0,0,0,.4);
    background-image: url('/pink-noise.png');
    padding: .4rem;
    padding-top: .3rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .micro-cta a {
    color: var(--color-pink);
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: .8rem 1rem;
    border-radius: 4px;
    background: var(--color-dark);
    font-weight: 677;
  }
</style>