<script lang="ts">
  import SideBanner from "./SideBanner.svelte";
</script>

<section class="inner-section">
  <div class="banner">
    <SideBanner>
      <span>Research</span> <span class="amp">&amp;</span>
      <span>Exploration</span> <span class="amp">&amp;</span>
      <span>Craft</span> <span class="amp">&amp;</span>
      <span>Accountability</span> <span class="amp">&amp;</span>
      <span>Giving a fuck</span>
    </SideBanner>
  </div>
  <div class="wrapper">
    <h1>Design as a force for good</h1>
    <div class="values">
      <div class="value mindful-design">
        <div class="value-img">
          <img src="/brain.png" alt="A human brain">
        </div>
        <h2>Mindful Design</h2>
        <p>Understanding how the mind works is integral to the work I do. I wrote a whole ass book about it.</p>
        <p>My breadth of actionable knowledge around attention, motivation, and self-determination – and a refusal to use this to manipulate – is what makes me a good designer.</p>
      </div>
      <div class="value">
        <div class="value-img">
          <img src="/guillotine.png" alt="A human brain">
        </div>
        <h2>Democratise</h2>
        <p>Design is all about simplifying scary and complex concepts into simpler things that can be interfaced  by real humans. </p>
        <p>This can be empowering, but only if we choose to simplify the right systems for the right people.</p>
        <p>I don’t work on projects that perpetuate the status quo or only cater to making boring rich people’s lives more convenient.</p>
      </div>
    </div>
  </div>
</section>

<style>
  @media(min-width: 840px) {
    .values {
      max-width: 920px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 8rem;
    }
  }
  .value {
    margin-top: 4rem;
    color: var(--color-pink);
  }
  .value h2 {
    font-weight: 377;
    font-size: 1.9rem;
    color: var(--color-pink);
  }
  .value p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    max-width: 390px;
    font-size: 1.125rem;
    line-height: 1.6;
    color: rgba(255,255,255,.9);
  }
  .value img {
    width: 100%;
    max-width: 220px;
  }
  .value-img {
    position: relative;
  }
  .value-img:after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    background-image: url('/heart-face.png');
    background-size: cover;
    bottom: -18px;
    right: 34px;
    display: none;
  }
  .mindful-design .value-img:after {
    right: auto;
    left: -34px;
    width: 72px;
    height: 72px;
    background-image: url('/green-book.png');
    display: none;
  }
  @media(min-width: 700px) {
    .value-img img {
      width: 100%;
      max-width: 380px;
    }
    .value-img:after {
      display: none;
    }
  }
</style>