<script>
  export let noStick = false
  export let preAnim = false
  let showMobileNav = false
</script>

<nav class="pink-section main-nav" class:noStick class:preAnim>
  <div class="wrapper nav-grid">
    <a href="/" class="home-img">
      <img src="/home.svg" alt="Home" />
    </a>
    <div class="mobile-show">
      <button on:click={ () => showMobileNav = !showMobileNav }>Menu</button>
    </div>
    <a class="two-line" href="/talking-about-himself-again" on:click={() => showMobileNav = false}>
      <h2>About</h2>
      <p>What I do, and why I do it</p>
    </a>
    <a class="two-line writing" href="/writing" on:click={() => showMobileNav = false}>
      <h2>Writing</h2>
      <p>Words for your brain</p>
    </a>
    <a class="two-line mindful" href="https://mindfuldesign.xyz" target="_blank" rel="noreferrer">
      <h2>Mindful design</h2>
      <p>Learn about good design</p>
    </a>
    <a href="mailto:hugs@scott.is" class="mail-img">
      <img src="/mail.svg" alt="Contact" />
    </a>
  </div>
  {#if showMobileNav}
    <div class="wrapper mobile-nav">
      <a class="two-line" href="/talking-about-himself-again">
        <h2>About</h2>
        <p>What I do, and why I do it</p>
      </a>
      <a class="two-line writing" href="/writing">
        <h2>Writing</h2>
        <p>Words for your brain</p>
      </a>
      <a class="two-line mindful" href="https://mindfuldesign.xyz" target="_blank" rel="noreferrer">
        <h2>Mindful design</h2>
        <p>Learn about good design</p>
      </a> 
    </div>
  {/if}
</nav>

<style>
  .main-nav {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 12px 4px rgba(0,0,0,.4);
    padding: 1.2rem 1rem;
    margin-top: 0;
  }
  .main-nav.noStick {
    position: relative;
  }
  .main-nav.preAnim {
    transform: translateY(100px);
    opacity: 0;
  }
  .mobile-show {
    place-content: center;
    place-items: center;
    margin-top: 0;
  }
  .mobile-show button {
    appearance: none;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    width: 100px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: var(--color-dark);
    font-weight: 500;
  }
  .two-line {
    text-decoration: none;
    color: var(--color-dark);
    margin-top: 0;
    display: none;
  }
  .mobile-nav {
    border-top: 1px solid rgba(0,0,0,.2);
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .mobile-nav .two-line {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .two-line h2 {
    font-size: 1.1rem;
  }
  .two-line p {
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    margin-top: .4rem;
    font-size: 1.125rem;
    opacity: .8;
  }
  .home-img {
    transform-origin: center center;
    border-right: 1px solid rgba(0,0,0,.2);
    padding-right: 24px;
  }
  .mail-img {
    border-left: 1px solid rgba(0,0,0,.2);
    padding-left: 24px;
    margin-top: 0;
  }
  .home-img:hover img {
    transition: all .4s ease;
    transform: rotate(-24deg);
  }
  .home-img img,
  .mail-img img {
    width: 100%;
  }
  .nav-grid {
    display: grid;
    grid-template-columns: 56px 1fr 56px;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 24px;
  }
  @media(min-width: 740px) {
    .nav-grid {
      grid-template-columns: 56px auto auto  auto 56px;
    }
    .two-line {
      display: block;
    }
    .mobile-show {
      display: none;
    }
  }
</style>