<script lang="ts">
  export let up = false
  export let down = false
</script>

<div class="banner" class:up class:down>
  <slot></slot>
</div>

<style>
  .banner {
    text-transform: uppercase;
    font-weight: 255;
    color: var(--color-pink);
    display: none;
  }
  :global(.banner span) {
    margin-top: .4ch;
  }
  :global(.banner .amp) {
    opacity: .38;
  }
  @media(min-width: 720px) {
    .banner {
      display: block;
    }
  }
</style>