<div class="tinyWords">
  <div class="wrapper">
    <h1>Tiny Words: a microblog</h1>
    <div class="about-microblog">
      <div class="img">
        <img src="/scott.png" alt="Scott Riley" />
      </div>
      <div class="pink-section">
        <p>Tiny Words is my microblog. A self-hosted, short-form list of posts similar to what you'd see on Mastodon or Twitter.</p>
        <div class="micro-cta">
          <a href="/writing/tiny-things/">Read it</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h1 {
    font-weight: 337;
    font-size: 2.4rem;
    text-align: center;
  }
  @media(min-width: 960px) {
    h1 {
      text-align: left;
    }
    .wrapper {
      padding-left: 6vw;
      padding-right: 6vw;
      position: relative;
      display: grid;
      grid-template-columns: 2fr 3fr;
      padding-bottom: 4rem;
    }
  }
  @media(min-width: 1126px) {
    h1 {
      font-size: 3.4rem;
    }
    .wrapper {
      grid-template-columns: 3fr 3fr;
    }
  }
  .about-microblog {
    display: grid;
    grid-template-columns: 128px 1fr;
    align-items: center;
    position: relative;
  }
  .about-microblog p {
    font-size: .9rem;
    font-weight: 444;
  }
  .about-microblog img {
    max-width: 128px;
    z-index: 9;
  }
  .img {
    position: relative;
    z-index: 9;
  }
  .pink-section {
    padding: 1rem 1.4rem 1.2rem 2rem;
    border-radius: 6px;
    box-shadow: 3px 3px 0 var(--color-pink);
    transform: translate(-28px, -14px);
    z-index: 8;
    position: relative;
  }
  .micro-cta {
    position: absolute;
    right: 24px;
    bottom: -2.5rem;
    box-shadow: 0 12px 4px rgba(0,0,0,.4);
    background-image: url('/pink-noise.png');
    padding: .4rem;
    padding-top: .3rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .micro-cta a {
    color: var(--color-pink);
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: .8rem 1rem;
    border-radius: 4px;
    background: var(--color-dark);
    font-weight: 677;
  }
</style>