:root {
  --color-pink: #F2D2D0;
  --color-dark: #121212;
  --color-text-main: #E3D2DB;
  --color-text-light: #F8EBF1;
  font-size: 16px;
  font-family: 'Unbounded', sans-serif;
}

body {
  background: var(--color-dark);
  color: var(--color-text-main);
  font-weight: 277;
  background-image: url('/dark-noise.png');
  margin-top: 0 !important;
}

p a,
li a {
  color: #D0F2F0;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* + * {
  margin-top: 1em;
}

.wrapper {
  margin-left: 6vw;
  margin-right: 6vw;
}

.sep {
  text-transform: uppercase;
  letter-spacing: .05em;
  text-align: center;
  margin-top: 4rem;
}

.pink-section {
  background-color: var(--color-text-main);
  background-image: url('/pink-noise.png');
  color: var(--color-dark);
}

.inner-section {
  position: relative;
  padding-top: 2vh;
  padding-bottom: 8vh;
}

.inner-section .banner {
  display: none;
}

@media(min-width: 960px) {
  .inner-section .banner {
    display: block;
    position: absolute;
    right: 24px;
    writing-mode: vertical-lr;
    height: 100vh;
  }
}

.inner-section h1 {
  font-size: 2rem;
  color: var(--color-pink);
  font-weight: 330;
  max-width: 884px;
}

@media(min-width: 880px) {
  .inner-section h1 {
    font-size: 5rem;
    color: var(--color-pink);
    font-weight: 330;
    max-width: 884px;
  } 
}

.separator {
  background-image: url('/separator.png');
  width: 100%;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.post {
  margin-top: 3rem;
  display: grid;
  grid-template-rows: 1fr 28px;
}
.post-grid a {
  color: inherit;
  text-decoration: none;
}
.post-grid h2 {
  font-weight: 437;
  font-size: 1.5rem;
}

.post-link {
  display: grid;
  grid-template-columns: 1fr 28px;
  font-family: 'IM Fell DW Pica', serif;
  font-size: 1.3rem;
  font-style: italic;
  margin-top: .4rem;
}

@media(min-width: 720px) {
  .post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    grid-row-gap: 4rem;
    list-style: none;
  }
  .post-link {
    margin-top: .6em;
  }
}
@media(min-width: 1100px) {
  .post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
    grid-row-gap: 4rem;
    list-style: none;
  }
}



/** PRISM THEME **/
/*
Name: Duotone Dark
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)

Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-evening-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code[class*="language-"],
pre[class*="language-"],
code {
	font-family: "JetBrains Mono", Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #2a2734;
	color: rgba(255,255,255,.8);
}

p code {
  padding: 1px 2px;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,.1);
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #6a51e6;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #6a51e6;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6c6783;
}

.token.punctuation {
	color: #6c6783;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
	color: #e09142;
}

.token.property,
.token.function {
	color: #9a86fd;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: #eeebff;
}

code.language-javascript,
.token.attr-name {
	color: #c4b9fe;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: #ffcc99;
}

.token.placeholder,
.token.variable {
	color: #ffcc99;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #eeebff;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #c4b9fe;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid #8a75f5;
	outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #2c2937;
}

.line-numbers .line-numbers-rows > span:before {
	color: #3c3949;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
	background: rgba(224, 145, 66, 0.2);
	background: -webkit-linear-gradient(left, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
	background: linear-gradient(to right, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
}