<script>
  import {onMount} from 'svelte'
  import Nav from "../../../../components/Nav.svelte"
  import TinyThings from "../../../../components/TinyThings.svelte"
  export let data

  onMount( async () => {
    const progressBar = document.querySelector('.reading-indicator');
    const section = document.querySelector('body');

    const scrollProgressBar = () => {
        let scrollDistance = -(section.getBoundingClientRect().top);
        let progressPercentage =
            (scrollDistance /
                (section.getBoundingClientRect().height - 
                    document.documentElement.clientHeight)) * 100;

        let val = Math.floor(progressPercentage);
        progressBar.style.width = val + '%';

        if (val < 0) {
            progressBar.style.width = '0%';
        }
    };

    window.addEventListener('scroll', scrollProgressBar);
  })
</script>

<svelte:head>
  <title>{data.title} – Scott Riley</title>
  <meta property="og:title" content="{data.title} – Scott Riley" />
  {#if data.og}
    <meta property="og:image" content="https://scott.is/{data.og}" />
  {/if}
</svelte:head>

<div class="reading-indicator"></div>

<Nav noStick />

<section class="wrapper">
  <article>
    <h1>{ data.title }</h1>
    <span class="date">
      {new Date(data.date).toDateString()}
    </span>
    <div class="article-content">
      <svelte:component this={data.content} />
    </div>
  </article>
</section>

<div class="separator"></div>

<TinyThings />

<style>
  .reading-indicator {
    height: 4px;
    width: 0%;
    background-color: var(--color-pink);
    z-index: 999;
    position: fixed;
    top: 0;
    transition: all .1s ease;
  }
  h1 {
    color: white;
    font-weight: 337;
    font-size: 2.7rem;
    font-weight: 577;
    margin-top: 1em;
    color: var(--color-pink);
    max-width: 760px;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1em;
  }
  .date {
    display: block;
    max-width: 760px;
    margin: auto;
    text-transform: uppercase;
    font-weight: 477;
    font-size: .9rem;
    letter-spacing: .02em;
    margin-bottom: 2rem;
    margin-top: 1em; 
    color: white;
  }
  .date:before {
    content: '—';
    margin-right: 1em;
  }
  :global(.article-content .big),
  :global(.article-content p:first-of-type) {
    font-family: 'Unbounded', -apple-system, sans-serif;
    font-weight: 427;
    font-size: 1rem;
    line-height: 1.6;
    color: white;
  }
  :global(.article-content blockquote) {
    padding-left: 1rem;
    border-left: 4px solid var(--color-pink);
    margin-left: -1rem;
  }
  :global(.article-content blockquote p:first-of-type) {
    font-size: 1rem;
    font-style: italic;
  }
  :global(.article-content hr) {
    opacity: .2;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  :global(.article-content p),
  :global(.article-content ul),
  :global(.article-content ol),
  :global(.article-content li) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255,255,255,.8);
    max-width: 680px;
  }
  :global(.article-content > img),
  :global(.article-content > p > img) {
    max-width: calc(100% + 4vw);
    border-radius: 8px;
    margin-left: -2vw;
  }
  :global(.article-content li) {
    margin-top: .8rem;
  }
  :global(.article-content ul),
  :global(.article-content ol) {
    margin-left: 1.9rem;
  }
  :global(.article-content h2),
  :global(.article-content h3) {
    margin-top: 1.8em;
  }
  :global(.article-content h2) {
    color: white;
    font-size: 2rem;
  }
  :global(.article-content h3) {
    font-size: 1.4rem;
    color: var(--color-pink);
  }
  :global(.article-content h2 + p),
  :global(.article-content h3 + p) {
    margin-top: .6rem;
  }
  :global(.article-content .face-hint) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: -4vw;
  }
  :global(.article-content pre) {
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0,0,0,.9);
    margin-top: 1rem;
    max-width: calc(680px + 2rem);
    margin-left: -1rem;
  }
  .article-content {
    max-width: 760px;
    margin: auto;
    padding-bottom: 4rem;
  }
  @media(min-width: 1100px) {
    :global(.article-content .face-hint) {
      margin-right: 4vw;
      margin-left: -6vw;
    }
  }
</style>